.circle {
    width: 320px;
    height: 320px;
    margin: 80px auto 0 auto;
}
.timer-buttons {
    display: block;
}
.timer-buttons ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.timer-buttons li {
    display: inline-block;
    padding: 15px;
}

.selectStyle {
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 202px;
    height: 29px;
}

.inlineSelect {
    display: flex;
    justify-content: center;
    width: 100%;
}
.margin {
    margin-top: 100px;
}
.timerButton {
    cursor: pointer;
}
