.element {
    display: inline;
}

.upbutton {
    margin-top: 0;
    margin-right: 0;
}

.inputElement {
    height: 30px;
}

.TitleStats {
    height: 130px;
    border-bottom-style: solid;
    margin-bottom: 32px;
}
